@{
    ViewBag.Title = "物流详情";
}
<!DOCTYPE html>
<html>
@*<head>
        <title>物流详情</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <style>
            html {
                font-size: 12px;
                font-family: Arial, Helvetica, sans-serif;
            }
        </style>
        <script src="~/Scripts/js/jquery.min.js"></script>
        <script src="~/Scripts/angular.min.js"></script>
        <script src="~/Scripts/js/kendo.all.min.js"></script>
        <link href="~/Kendo/styles/kendo.common.min.css" rel="stylesheet" />
        <link href="~/Kendo/styles/kendo.rtl.min.css" rel="stylesheet" />
        <link href="~/Kendo/styles/kendo.default.min.css" rel="stylesheet" />
        <link href="~/Kendo/styles/kendo.dataviz.min.css" rel="stylesheet" />
        <link href="~/Kendo/styles/kendo.dataviz.default.min.css" rel="stylesheet" />
        <link href="~/Kendo/styles/kendo.mobile.all.min.css" rel="stylesheet" />
        <link href="~/Content/themes/website-searchbox.css" rel="stylesheet" />
        <link href="~/Content/themes/div-item.css" rel="stylesheet" />
    </head>*@
<body>
    <div id="actionsheet-view" data-role="view" data-title="货物单列表" data-reload="true">
        <div id="myheader" style="margin-top:2px">
            @*<input id="status" style="width:35%;height:25px;" placeholder="Select status..." />*@
            <form id="searchForm" @*action=""*@ method="post" onsubmit=false>
                <div style="list-style-type:none">
                    <div id="searchout">
                        <div>
                            <div id="searchform">
                                <input type="text" id="search_input" name="search"/>
                                @*<img id="searchbutton" />*@
                                <input id="searchbutton" onclick="searchToTransport()" readonly="readonly" />
                            </div>
                        </div>
                    </div>
                </div>
                @*</fieldset>*@
            </form>
            <br />
        </div>
        <div style="margin-top: 10px">
            <ul id="listsource" class="inboxListTranportIndex" data-role="listview" data-source="TransportSource" data-endless-scroll="false"
                data-template="transportItem"></ul>
        </div>
    </div>

    <script id="transportItem" type="script/x-kendo-template">
        <div class="item">
            <div class="item-inside">
                <p1> 物流编号：#: TransportNumber#</p1>
                <a class="reply" data-role="button" onclick=logisticsContent(#:distributionId#)> 物流详情 </a>
            </div>
            # if( category == 0){#
                <h4> 发货方：#: consignor# </h4>
            #} else if( category == 1){#
                <h4> 收货方：#: consignee# </h4>
            #}#
            <h4> 物流状态：#: status# </h4>
        </div>
    </script>

    <script>
        /*用于对form表单-搜索框表单-禁用按回车键搜索
        */
        $("#searchForm").keypress(function (e) {
            if (e.which == 13) {
                return false;
            }
        });

        String.prototype.GetValue = function (para) { //将url ？ 后面的链接以&符号进行分割
            var reg = new RegExp("(^|&)" + para + "=([^&]*)(&|$)");
            var r = this.substr(this.indexOf("\?") + 1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }
        // var str = location.search;  //获取当前页面url？后面的数值
        var str = window.location.href;
        str = decodeURI(str);   //对url进行解码
        var category = str.GetValue("category");  //区分公司是否为接收方
        var searchValue = "notsearch";  //文本框中的输入的内容
        var isSearch = 0;  //用于判断是否在进行页面的搜索，0表示不是搜索状态， 1表示搜索状态
        searchValue = str.GetValue("searchValue");  //获取搜索的值

       // console.info("window.location.pathname = " + window.location.pathname + "  window.location.href = " + window.location.href);

        if (searchValue == null) {
            searchValue = "notsearch";
            //console.info("searchValue 2222= " + searchValue);
        }

        isSearch = str.GetValue("isSearch");  //是否在搜索

        if (isSearch == null) isSearch = 0; //是否能从url中获得isSearch的值

        function searchToTransport() {
           // console.info('&searchValue=');
            searchValue = document.getElementById("search_input").value;
            if (searchValue.length != 0) {
                isSearch = 1;
                //跳转到链接并对整个链接进行编码， searchValue 为文本框中输入的值 app.navigate(window.location.pathname
                kendo.mobile.application.replace(encodeURI("/../Transportation/Index" + '?category=' + category
                    + '&searchValue=' + searchValue + '&isSearch=' + isSearch), "slide");
                // location.replace(encodeURI(window.location.pathname + '?category=' + category
                //     + '&searchValue=' + searchValue + '&isSearch=' + isSearch));
                //console.info('&searchValue1111=' + searchValue);
            } else {
                isSearch = 0;
                searchValue = "notsearch";
                kendo.mobile.application.replace(encodeURI("/../Transportation/Index" + '?category=' + category
                    + '&searchValue=' + searchValue + '&isSearch=' + isSearch), "slide")
                //console.info('&searchValue22222=' + searchValue);
                //location.replace(encodeURI(window.location.pathname + '?category=' + category
                //    + '&searchValue=' + searchValue + '&isSearch=' + isSearch));app.navigate(
            }
        }

        var TransportSource = new kendo.data.DataSource({
            transport: {
                read: {
                    type: "POST",
                    url: "/Transportation/GetTransportList",
                    data:
                                {
                                    // enterpriseID: 10001,
                                    category: category,
                                    searchValue: searchValue,
                                    //transportState: 0,
                                },
                    dataType: "json"
                }
            },
        });

        //function replaceBar() {
        //    kendo.mobile.application.replace("#baz");
        //}

        function logisticsContent(distributionId1) {
            //location.reload();
            history.go(0);
            var urlbase = "/../Transportation/TransportDetails?distributionID=";
            urlbase += distributionId1;
            urlbase += "&category=" + category;
            kendo.mobile.application.replace(urlbase, "slide");
          
            // app.navigate(urlbase, "slide");
            //window.location.href = urlbase;
            // kendo.mobile.application.replace(urlbase);
            // location.replace(urlbase); //替换当前的页面
        }
    </script>
    <style scoped>
        .reply {
            float: right;
            margin-right: 10px;
        }

        .inboxListTranportIndex {
            font-size: .8em;
        }

            .inboxListTranportIndex p,
            .inboxListTranportIndex h2,
            .inboxListTranportIndex h3 {
                margin: 5px 2px;
            }

            .inboxListTranportIndex p,
            .inboxListTranportIndex h3 {
                color: #777;
            }

                .inboxListTranportIndex h3.time {
                    color: #369;
                    float: left;
                    margin-right: 10px;
                }
    </style>

    @*<script>
            var app = new kendo.mobile.Application(document.body,
            {
                platform: 'IOS'
            });
        </script>*@
</body>
</html>
