@{
    ViewBag.Title = "showAddSuccess";
}

<!DOCTYPE html>
<html>
@*<head>
    <title>添加是否成功</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
        html {
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>*@
<body>
    <div data-role="view" data-title="成功？" data-reload="true">
        <div>
            <p id="info"></p>
        </div>
        <div id="return" class="more-btn more-btn-no-pd">
            <a class="replyShowSucc" data-role="button" onclick="javascript:history.go(-1)"> 点击此处返回 </a>
        </div>
    </div>

    <script>
        String.prototype.GetValue = function (para) { //将url ？ 后面的链接以&符号进行分割
            var reg = new RegExp("(^|&)" + para + "=([^&]*)(&|$)");
            var r = this.substr(this.indexOf("\?") + 1).match(reg);
            if (r != null)
                return unescape(r[2]);
            return null;
        }
        var str = location.search;  //获取当前页面url？后面的数值
        var select = str.GetValue("msg");  //消息
        //console.info(select);
        if (select == 1) {
            var infor = "提交成功";
        } else {
            infor = "提交失败";
        }

        var t = 3;//设定跳转的时间
        setInterval("refer()", 1000); //启动1秒定时
        function refer() {
            if (t == 0) {
                //location = "javascript:history.go(0)"; //#设定跳转的链接地址
                app.navigate("#:back");
            }
            document.getElementById("info").innerHTML = infor + " " + t + " 秒后跳转......";// 显示倒计时
            t--; // 计数器递减
        }
    </script>

    <style scoped>
        .replyShowSucc {
            float: left;
            margin: 0.9em 2.7em 0.5em 1.1em;
        }
    </style>
</body>
</html>