@{
    ViewBag.Title = "物流跟踪";
}
<!DOCTYPE html>
<html>
@*<head>
    <title>物流跟踪</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
        html {
            font-size: 12px;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
    @*<script src="~/Scripts/js/jquery.min.js"></script>
        <script src="~/Scripts/angular.min.js"></script>
        <script src="~/Scripts/js/kendo.all.min.js"></script>
        <link href="~/Kendo/styles/kendo.common.min.css" rel="stylesheet" />
        <link href="~/Kendo/styles/kendo.rtl.min.css" rel="stylesheet" />
        <link href="~/Kendo/styles/kendo.default.min.css" rel="stylesheet" />
        <link href="~/Kendo/styles/kendo.dataviz.min.css" rel="stylesheet" />
        <link href="~/Kendo/styles/kendo.dataviz.default.min.css" rel="stylesheet" />
        <link href="~/Kendo/styles/kendo.mobile.all.min.css" rel="stylesheet" />
    <link href="~/Content/themes/website-searchbox.css" rel="stylesheet" />
    <link href="~/Content/themes/div-item.css" rel="stylesheet" />
</head>*@
<body>
    <div id="actionsheet-view" data-role="view" data-title="物流单详情" data-reload="true">
        <h3 id="actionResult"></h3>
        <ul data-role="listview" data-source="TransportSource" data-template="inboxItem" class="inboxList"></ul>
    </div>

    <script id="inboxItem" type="script/x-kendo-template">
        <div class="item">
            <p><b>物流名称：</b>#: Distribution_Name#</p>
            <p><b>物流描述：</b>#: Distribution_Content# </p>
            <p><b>发货地址：</b>#: Source_Addr# </p>
            <p><b> 收货地址：</b>#: Destination_Addr# </p>
            <p><b>发货数量：</b>#: Distribution_Amount#</p>
            <p><b>物流状态：</b>#: Distribution_State#</p>
            <p><b>订单生成时间：</b>#:Created_Time#</p>
            <p><b>订单发出时间：</b>#:Send_Time#</p>
            <p><b>收货时间：</b>#: Receive_Time  #</p>

        <div class="item-insideTransportDetails">
            # if(Distribution_State == "配送单生成" && category == 1){#
                <a id  = "changeState" class="replyTransportDetails"  name = "changeState" data-role="button" target="_self"  data-click="changeState" value="1"> 点击发货</a>
             # } else if (Distribution_State == "物品已经发货" && category == 0){#
                    <a id= "deliveryGoods" class="replyTransportDetails" name = "deliveryGoods"  data-role="button"   data-click="deliveryGoods" value="2">确认收货</a>
             #}#

            <a  id = "orderDownLoad"
               class="replyTransportDetails"
               data-role="button"
            @*href="#:Distribution_Download_Addr#"*@
            @*target="_self"*@
              data-click="distributionDownload"
            @*data-actionsheet-context="#: Distribution_Download_Addr#"*@
            > 订单下载</a>
         </div>
        <br />
        </div>

    </script>

    <script>
        // $(document).ready(function () {
        String.prototype.GetValue = function (para) { //将url ？ 后面的链接以&符号进行分割
            var reg = new RegExp("(^|&)" + para + "=([^&]*)(&|$)");
            var r = this.substr(this.indexOf("\?") + 1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }
        //var str = location.search;  //获取当前页面url？后面的数值
        var str = window.location.href;
        str = decodeURI(str);   //对url进行解码
        var distributionId = str.GetValue("distributionID");
        var category = str.GetValue("category");
        //alert(distributionId);
       // console.info(distributionId + " asdfasdfasdfa");
        var TransportSource = new kendo.data.DataSource({
            transport: {
                read: {
                    type: "POST",
                    url: "/Transportation/GetTransportDetails",
                    data:
                        {
                            distributionId: distributionId,
                        },
                    dataType: "json"
                }
            },
        });
        //console.info(TransportSource);

        function distributionDownload(e) {
            $("#actionResult").click(
                    alert("asdfasdfasdfasd")
                );
        }

        function deliveryGoods(e) {       //确认收货
            $("#deliveryGoods").click(
                $.ajax({
                    url: "/Transportation/changeTransportState",
                    method: "POST",
                    data: {
                        state: 2,
                        distributionId: distributionId
                    },
                    error: function (request) {
                        alert("Connection error");
                    },
                    success: function (msg) {
                        kendo.mobile.application.replace("/../Transportation/showAddSuccess?msg=" + msg);
                    }
                }
                )
                );
        }


        function changeState(e) {  //开始发货
            $("#changeState").click(
                $.ajax({
                    url: "/Transportation/changeTransportState",
                    method: "POST",
                    data: {
                        state: 1,
                        distributionId: distributionId
                    },
                    error: function (request) {
                        alert("Connection error");
                    },
                    success: function (msg) {
                        kendo.mobile.application.replace("/../Transportation/showAddSuccess?msg=" + msg);
                    }
                })
            );
        }
    </script>
 
    <style scoped>
        .replyTransportDetails {
            float: left;
            margin: 1.9em 2.7em 0.5em 0.7em;
        }

        .item-insideTransportDetails {
            width: 95%;
            height: 35px;
            font-size: 0.8px;
            margin: 5px 10px 10px 7px;
            border-top: 2px solid #efeff4;
            margin: 2px 10px 10px 7px;
            border-bottom: 0px solid #efeff4;
            background-color: #fff;
        }

            .item-insideTransportDetails p1 {
                float: left;
                color: #808080;
                font-size: 16px;
                font-style: normal;
                margin-top: 5px;
                margin-left: 8px;
            }
    </style>
</body>
</html>
