@{
    ViewBag.Title = "Index";
}

<h2>OrderDemo @ViewBag.mytitle</h2>

<html>
<head>
    <style>
        html {
            font-size: 12px;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
    <title></title>
    <script src="~/Scripts/js/jquery.min.js"></script>
    <script src="~/Scripts/js/kendo.all.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <link href="~/Kendo/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Kendo/styles/kendo.rtl.min.css" rel="stylesheet" />
    <link href="~/Kendo/styles/kendo.default.min.css" rel="stylesheet" />
    <link href="~/Kendo/styles/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="~/Kendo/styles/kendo.dataviz.default.min.css" rel="stylesheet" />
    <link href="~/Kendo/styles/kendo.mobile.all.min.css" rel="stylesheet" />
    <link href="~/Content/themes/website-searchbox.css" rel="stylesheet" />
    <link href="~/Content/themes/div-item.css" rel="stylesheet" />
</head>
<body>
    <div data-role="view" data-title="Inbox" id="actionsheet-view" data-init="mobileListViewLocalFiltering">

        @* <ul id="filterable-listview"></ul>*@
        <div id="myheader" style="margin-top:2px">
            <input id="status" style="width:35%;height:25px;" value="" placeholder="Select status..." />
            <form id="searchForm" action="" method="post">
                <div style="list-style-type:none">
                    <div id="searchout">
                        <div>
                            <div id="searchform">
                                <input type="text" id="search_input" name="search">
                                <div id="searchbutton"></div>
                            </div>
                        </div>
                    </div>
                </div>
                @*</fieldset>*@
            </form>
            <br />
        </div>
        <div style="margin-top:10px">
            <ul id="listsource" data-role="listview" data-source="mydataSource" data-template="inboxItem" class="inboxList"></ul>
        </div>
    </div>

    <script type="script/x-kendo-template" id="inboxItem">
        <div class="item">
            <div class="item-inside">
              <p1 class = "orderNum">订单号：#: orderNum #</p1>
              <a class="reply" data-role="button"  onclick=OrderContent("#:orderID#")
                  >订单详情</a>
            </div>

            #if(category==0)
            {#
                <h4 class ="orderSupplier">发布方：#: orderSupplier#</h4>
            #}else
            {#
                <h4 class ="orderSupplier">承接方：#: orderSupplier#</h4>
            #}#
            <h4 class ="orderStatus">订单状态：#: orderStatus#</h4>
         </div>
    </script>

    <script>
        /*用于对form表单-搜索框表单-禁用按回车键搜索
       */
        $("#searchForm").keypress(function (e) {
            if (e.which == 13) {
                return false;
            }
        });

        String.prototype.GetValue = function (para) { //将url ？ 后面的链接以&符号进行分割
            var reg = new RegExp("(^|&)" + para + "=([^&]*)(&|$)");
            var r = this.substr(this.indexOf("\?") + 1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }
        var str = location.search;  //获取当前页面url？后面的数值
        str = decodeURI(str);   //对url进行解码
        var category = str.GetValue("category");  //区分公司是否为接收方
        var searchValue = str.GetValue("searchValue");  //获取搜索的值
        var select = str.GetValue("select");
        if (select == null) {
            select = 7;
        } else {
            select = parseInt(select);
        }

        var data = [
                { text: "合同未签订", value: 0 },
                { text: "合同已签订", value: 1 },
                { text: "订单正在生产", value: 2 },
                { text: "订单生产完成", value: 3 },
                { text: "配送完成", value: 4 },
                { text: "客户全部签收", value: 5 },
                { text: "客户已评论", value: 6 },
                { text: "全部订单", value: 7 }
        ];

        $("#status").kendoComboBox({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: data,
            filter: "contains",
            suggest: true,
            select: onSelect,
            index: select,
        });

        var mydataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    type: "POST",
                    url: "/OrderDemo/GetOrderList",
                    data:
                        {
                            option: select,
                            category: category,
                            content: searchValue
                        },
                    dataType: "json"
                }
            },
        });

        //把select的值传到后台
        function onSelect(e) {
            var select = this.dataItem(e.item.index());
            location.replace(encodeURI(window.location.pathname + "?category=" + category
                 + "&select=" + select.value));
        }

        $("#searchbutton").click(function () {
            searchValue = document.getElementById("search_input").value;
            location.replace(encodeURI(window.location.pathname + '?category=' + category
                   + "&select=" + select + '&searchValue=' + searchValue));
        });

        function OrderContent(orderid) {
            var urlbase = "/OrderDemo/OrderDetails?option=";
            urlbase += orderid;
            urlbase += "&category=";
            urlbase += category;
            window.location.href = urlbase;
        }
    </script>
    <script>
        var app = new kendo.mobile.Application(document.body);
    </script>

    <style scoped>
        .reply {
            float: right;
            margin-right: 10px;
        }

        .inboxList {
            font-size: .8em;
        }

        #actionsheet-view .km-listview {
        }

        #actionResult {
            padding: 10px;
            background: rgba(127,127,127,.5);
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            margin: 0;
        }

        .km-ios #actionsheet-view .km-navbar {
            background: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, rgba(255, 255, 255, 0.5)), color-stop(0.06, rgba(255, 255, 255, 0.45)), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(1, rgba(100, 100, 100, 0))), url(../content/shared/images/patterns/pattern7.png);
            background: -moz-linear-gradient(center top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.45) 6%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(100, 100, 100, 0)), url(../content/shared/images/patterns/pattern7.png);
        }

            .km-ios #actionsheet-view .km-navbar .km-button {
                background-color: #4A88B5;
            }

        .km-ios #actionsheet-view .km-content .km-button {
            background: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, rgba(255, 255, 255, 0.5)), color-stop(0.06, rgba(255, 255, 255, 0.45)), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(1, rgba(100, 100, 100, 0))), url(../content/shared/images/patterns/pattern1.png);
            background: -moz-linear-gradient(center top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.45) 6%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(100, 100, 100, 0)), url(../content/shared/images/patterns/pattern1.png);
        }

        .km-tablet .km-ios #actionsheet-view .km-view-title {
            color: #fff;
            text-shadow: 0 -1px rgba(0,0,0,.5);
        }
    </style>
</body>
</html>
